html
	head
		title= title
		link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript')
		script.
			function hideMessage(selector) {
				$(selector).fadeTo(2000, 500).slideUp(500)
			}
			
	body
		div.container-fluid(style="padding-top: 2em")
			.row
				.col-lg-6.col-lg-offset-3
					.jumbotron
						h2 Dearchiver
							span.small  (v#{appVersion})
						br
						p Welcome to the PAC Dearchiver. To get your files back, you need a valid OECD/Kappa code.

						p First, type your code as follow:

						p
							span.glyphicon.glyphicon-hand-right(aria-hidden='true')
							span &nbsp;&nbsp;
							kbd 012003083
							span &nbsp;for an "old" code before 2019.

						p
							span.glyphicon.glyphicon-hand-right(aria-hidden='true')
							span &nbsp;&nbsp;
							kbd eco-2019-5559-fr
							span &nbsp;for a "new" code from 2019 and beyound.

						p Then, click the button to get the archive you need:

						p
							span.glyphicon.glyphicon-hand-right(aria-hidden='true')
							span &nbsp;&nbsp;
							kbd go for POD!
							span  for the print-on-demand files.

							p
								span.glyphicon.glyphicon-hand-right(aria-hidden='true')
								span &nbsp;&nbsp;
								kbd go for PREPRESS!
								span  for the production files.

							p Finally, the archive (
								strong 7z format
								span ) is available in your
								strong  local downloads
								span  folder.

						form.navbar-form(action='' method='post')
							.input-group.input-group-lg
								input.form-control(type='text' placeholder='Enter an OECD code ...' name='blobFile' id='blobFile')
								span.input-group-btn
									button.btn.btn-primary(type='submit' name='containerType' value='pod') go for POD!
									button.btn.btn-info(type='submit' name='containerType' value='prepress') go for PREPRESS!

						br
						br
						br
						br
						div#messageContainer(style="height: 2em;")
							if message == 'emptyCode'
								div.alert.alert-danger Please enter a code!
							if message == 'notFound'
								div.alert.alert-danger The code #{code} is not valid or doesn't exist in the archive... Please check!
							if message == 'success'
								div.alert.alert-success Downloading #{blob} ...
								script.
									window.location.href = "/download/#{container}/#{blob}"
									setTimeout(hideMessage('div.alert'), 3000)
